.mobilemenu--open-icon.mobilemenu-theme {
    height: 44px;
    display: inline-block;
    position: absolute;
    top: 0;
    padding-top: 6px;
    width: 28px;
    cursor: pointer;
}
.top-menu.js-mobilemenu--ul-processed{
  display: block;
  height: auto;
}
.mobilemenu {
  margin-top:50px;
  overflow-y: scroll;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 100%;
  a.selected{
    color: $color-link-hover;
  }
  .ic-menu-arrow-black{
    display: none;
  }
  .menu-icon {
    display: inline-block;
    margin-right: 7px;
    position: relative;
    top: 2px;
  }
  .item-selected{
    font-weight: 600;
  }
}
.root-item.mobile-site-menu.js-mobilemenu--ul-processed{
  display: none;
}
.mobile-catalog-menu.js-mobilemenu--ul-processed{
  display: none;
}
.mobilemenu--inner>ul {
}

.mobilemenu.js-mobilemenu--opened {
  bottom: 0;
}

.mobilemenu .mobilemenu--inner {
  position: relative;
  width: 100%;
  max-width: 360px;
  min-height: 100%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.menu-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: right;
  border-top: 1px solid #ccc;
  padding-right: 25px;
  padding-top: 12px;
  margin-top: 0px;
  background-color: #fff;
  z-index: 1;
  &:before{
    top: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    content: "";
    background-image: repeating-linear-gradient(90deg,#478bca 0,#478bca 50px,#ee1b24 50px,#ee1b24 200px,#49bb2b 200px,#49bb2b 350px,#ff9000 350px,#ff9000 500px);
    display: block;
  }
  a{
    text-decoration: none;
    display: inline-block;
    border-bottom: 1px dashed;
    color: $color-blue;
    line-height: 1;
    &:hover{
      color: $color-link-hover;
    }
  }
}
.mobilemenu.mobilemenu-theme {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
.mobilemenu.mobilemenu-theme .mobilemenu--inner {
  overflow: hidden;
  margin-left: -90%;
  background: #fff;
}
.mobilemenu.mobilemenu-theme ul {
  margin: 0;
  padding: 0 0 0;
}
.mobilemenu.mobilemenu-theme ul ul {
  overflow: hidden;
  height: 0;
  padding: 0 0 0 10%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
.mobilemenu.mobilemenu-theme ul li {
  list-style: none;
  display: block;
}
.mobilemenu.mobilemenu-theme ul li a.selected{
  color: #ffb400!important;
}
.mobilemenu.mobilemenu-theme ul li.js-mobilemenu--li-with-child > a {
  position: relative;
  padding-right: 25px;
}
.mobilemenu.mobilemenu-theme ul li.js-mobilemenu--li-with-child > a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -6px;
  border: 2px solid;
  border-left: none;
  border-bottom: none;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  -webkit-transition: transform 0.3s ease-out, margin-top 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out, margin-top 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, margin-top 0.3s ease-out;
  transition: transform 0.3s ease-out, margin-top 0.3s ease-out;
}
.mobilemenu.mobilemenu-theme ul li.js-mobilemenu--li-with-child.js-mobilemenu--li-active > a:after {
  margin-top: -9px;
  -webkit-transform: rotateZ(135deg);
  -moz-transform: rotateZ(135deg);
  -o-transform: rotateZ(135deg);
  transform: rotateZ(135deg);
}
.mobilemenu.mobilemenu-theme ul li.js-mobilemenu--li-with-child.js-mobilemenu--li-active > ul {
  height: auto;
  opacity: 1;
}
.mobilemenu.mobilemenu-theme ul li a {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #E5E5E5;
  color: #000;
  text-decoration: none;
  padding-left:0;
  padding-right: 0;
  margin-left:20px;
  margin-right: 20px;
  font-size: 0.95rem;
}
.mobilemenu.mobilemenu-theme.js-mobilemenu--opened {
  background: rgba(0, 0, 0, 0);
}
.mobilemenu.mobilemenu-theme.js-mobilemenu--opened .mobilemenu--inner {
  margin-left: 0;
  -webkit-transition: margin-left 0.3s ease-out;
  -moz-transition: margin-left 0.3s ease-out;
  -o-transition: margin-left 0.3s ease-out;
  transition: margin-left 0.3s ease-out;
}
.mobilemenu.mobilemenu-theme.js-mobilemenu--animate-out {
  background: rgba(0, 0, 0, 0);
}
.mobilemenu.mobilemenu-theme.js-mobilemenu--animate-out .mobilemenu--inner {
  margin-left: -80%;
}

.mobilemenu.mobilemenu-theme.mobilemenu--open-icon {
  display: block;
  width: 100%;
  height: 30px;
  background: red;
}
#cmp-count {
    padding: 1px;
    padding-right: 1px;
    padding-left: 1px;
    background-color: red;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    color: #fff;
    float: right;
}
