/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 15px/18px 'Open Sans', sans-serif;
	width: 100%;
	line-height: 1.5em;
	font-weight: 400;
}
.wrapper {
	max-width: 1230px;
	min-width: 320px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
p{
	margin-bottom: 30px;
}

/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 70px;
	background: #000;
}
.top-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	height: 70px;
}
.top-menu a{
	color: #ecefff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	border-bottom: 1px dashed;
	line-height: 1.3;
	font-size: 15px;
}
.top-menu a:hover, .top-menu a.selected{
	border-bottom: 0;
	color: #ffb400;
}
.first-block{
	height: calc(100vh - 70px);
	background-size: cover;
}
.first-block-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: relative;
	height: calc(100vh - 70px);
}
.logo{
	height: 490px;
	width: 950px;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-image:url(../images/logo-hight.png);
}
.date-start{
	display: flex;
	justify-content: center;
	align-items: center;
}
.date-start span{
	color: #fff;
	text-transform: uppercase;
	font-size: 28px;
}
.date-start .bar-logo{
	margin-left: 20px;
	margin-right: 20px;
}
.take-championship-btn{
	color: #fff;
	border: 2px dotted #fff;
	background-color: transparent;
	padding: 20px;
	font-size: 18px;
	border-radius: 15px;
	font-weight: 600;
	padding-left:25px;
	padding-right: 25px;
	margin-top: 20px;
}
.registration-block{

}
.block-header.header-white{
	color: #fff;
}
.block-header{
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	line-height: 1.2em;
	padding-top: 2.5em;
	padding-bottom: 2.5em;
	position: relative;
}
.block-header span{
	position: relative;
	font-weight: 600;
	display: inline-block;
}
.block-header span:after{
	position: absolute;
	bottom: -15px;
	height: 2px;
	width: 75px;
	content: "";
	background-color: #ee1b24;
	left:0px;
	margin-left: calc(50% - 38px);
}
.registration-block{
	background-color: #c90018;
	background-image: url('../images/reg-bg.png');
	padding-bottom: 110px;
	overflow: hidden;
}
.reg-form-block{
	width: calc(100% - 30px);
	background-color: #ffffff;
	display: flex;
	margin: auto;
	position: relative;
	z-index: 1;
	min-height: 500px;
}
.reg-form-block:before{
	height: calc(100% + 5px);
	width: calc(100% + 30px);
	content: "";
	display: block;
	position: absolute;
	left: -15px;
	top: -15px;
	background-color: rgba(0,0,0,0.3);
	z-index: -1;
	transform: rotate(-0.8deg);
}
.reg-form-block:after{
	display: block;
	position: absolute;
	width: 100%;
	height: 56px;
	bottom: -1px;
	z-index: -1;
	content: "";
	box-shadow: 0px 6px 17px 15px rgba(0,0,0,0.3);
	border-radius: 100%;
}
.glass-decor{
	position: absolute;
	height: 446px;
	width: 379px;
	background-image: url('../images/glass.png');
	bottom: -65px;
	left: -180px;
}
.lime-decor{
	position: absolute;
	height: 215px;
	width: 225px;
	background-image: url('../images/lime.png');
	bottom: -65px;
	right: -105px;
}
.reg-form-block .timer-block{
	width: 60%;
	padding-top: 40px;
	background-color: #e6e7e8;
	border: 10px solid #fff;
	text-align: center;
}
.timer-header{
	text-align: center;
	text-transform: uppercase;
	color: #ee1b24;
	font-size: 18px;
}
.clock-block{
	margin-top: 20px;
	display: inline-block;
}
.timer-text-descr{
	font-style: italic;
	font-weight: 300;
	font-size: 18px;
	margin-top: 50px;
	color: #232828;
	line-height: 1.3;
}
.reg-form-block .form-block{
	width: 40%;
	padding-right: 50px;
	padding-top: 30px;
	padding-left: 20px;
	background-color: #fff;
}
.reg-form-block  .form-row{
	margin-bottom: 20px;
}
.reg-form-block input[type=text]{
	height: 55px;
	border: 1px solid #575757;
	color: #575757;
	padding-left:15px;
	padding-right: 15px;
	width: 100%;
	box-sizing: border-box;
	font-size: 20px;
}
.form-row.checkbox-row{
	margin-bottom: 20px;
	color: #434343;
}
.champ-type-name{
	font-size: 18px;
	margin-bottom: 10px;
}
.form-row.checkbox-row .checkboxes{
	display: flex;
}
.form-row.checkbox-row .checkboxes .checkbox-cell{
	display: flex;
	align-items: center;
	margin-right: 40px;
}
.form-row.checkbox-row .checkboxes .checkbox-cell label{
	margin-left: 5px;
	font-size: 16px;
}
.button-form-row{
	text-align: center;
}
.red-btn{
	background-color: #ee1b24;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	border-radius: 30px;
	border: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left:30px;
	padding-right: 30px;
	box-shadow: 0px -3px 0px 1px inset #b61023;
}
.about-block{

}
.about-content{
	display: flex;
	margin-bottom: 40px;
}
.about-content p:last-child{
	margin-bottom:0;
}
.video-block{
	width: 55%;
}
.video-dummy{
	background-color: #ccc;
	width: 100%;
	height: 100%;
}
.about-text{
	width: 45%;
	padding-left: 20px;
}
.soc-widget-block{
	justify-content: center;
	display: flex;
	align-content: center;
	margin-bottom: 40px;
	margin-top: 50px;
}
.soc-widget-block span{
	margin-right: 10px;
	font-size: 16px;
	font-weight: 300;
}
.schedule{
	background-color: #161113;
}
.schedule-block{
	display: flex;
	justify-content: right;
}
.schedule-photo-block{
	padding: 15px;
	text-align: right;
	background-color: #fff;
}
.schedule-photo-block img{
}
.schedule-list{
	width: 35%;
	margin-left: 35px;
}
.schedule-list ul{
	list-style: none;
}
.schedule-list ul li{
	margin-bottom: 25px;
	margin-top: 25px;
}
.schedule-list ul li:first-child{
	margin-top: 5px;
}
.schedule-list ul li:last-child{
	margin-bottom: 0px;
}
.schedule-time{
	border-radius: 30px;
	background-color: #ee1b24;
	color: #fff;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
}
.schedule-time.selected{
	background-color: transparent;
	border:2px solid #ee1b24;
	color: #ee1b24;
}
.schedule-value{
	color: #fff;
	font-size: 16px;
	margin-left: 10px;
}
.schedule-desc-text{
	text-align: center;
	color: #fff;
	font-style: italic;
	font-size: 16px;
	margin-top: 30px;
	padding-bottom: 35px;
}
.judgmen{
	background-color: #161113;
}
.judge-list{
	padding-bottom: 110px;
}
.judge-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left:-35px;
	margin-right: -35px;
}
.judge-item{
	width: calc(20% - 70px);
	margin-left: 35px;
	margin-right: 35px;
	text-align: center;
}
.judge-pic img{
	border-radius: 100%;
	border: 4px solid #fff;
}
.judge-name{
	color: #fff;
	font-size: 18px;
	margin-top: 45px;
}
.judge-seporator{
	width: 35px;
	height: 1px;
	display: inline-block;
	background-color: #ee1b24;
	margin-top: 15px;
	margin-bottom: 5px;
}
.judge-post{
	color: #fff;
	font-style: italic;
	font-size: 16px;
	font-weight: 300;
}
.pathers{

}
.parhers-list{
	padding-bottom: 50px;
}
.pather-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.pather-item{
	width: 25%;
	text-align: center;
	margin-bottom: 50px;
}
/* Middle
-----------------------------------------------------------------------------*/
.content {
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 75px;
	background: #000;
}
